<div>
  <p>调用接口</p>

  <button nz-button nzType="primary" (click)="getWeatherInfo1()" [nzLoading]="isLoading1">调用天气接口(方法一)</button>

  <textarea rows="4" nz-input [(ngModel)]="inputValue"></textarea>

  <button nz-button nzType="default" (click)="getErrorData()" [nzLoading]="isLoading2" [disabled]="isDisable">
    调用天气接口(方法二)
  </button>


  <!--
  在 Observable 执行中, 可能会发送零个到无穷多个 “Next” 通知。如果发送的是 “Error” 或 “Complete” 通知的话，那么之后不会再发送任何通知了。


  Observable.subscribe({
  next:(x)=>{},
  error:(err) =>{},
  complete:()=>{},
  })


  在 subscribe 中用 try/catch 代码块来包裹任意代码是个不错的主意，如果捕获到异常的话，会发送 “Error” 通知：

  var observable = Rx.Observable.create(function subscribe(observer) {
  try {
  observer.next(1);
  observer.next(2);
  observer.next(3);
  observer.complete();
  } catch (err) {
  observer.error(err); // 如果捕获到异常会发送一个错误
  }
  }); -->

</div>
